.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project-image {
  width: 100%;
  height: 100%;
}

.image-container {
  flex: 1;
}

.projects-content {
  flex: 2;
}

.project-grid {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  cursor: pointer;
}

.project-item {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s;
  width: 45%;
  box-sizing: border-box;
  margin-bottom: 20px;
  background-color: rgb(167, 227, 251);

  .project-img-box {
    text-align: center;
    padding: 10px 0;
  }

  li {
    color: #000000c0;
  }

  .project-img {
    height: 70vh;
    width: auto;
    margin: auto;
  }

  .head {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .btn-box {
      display: flex;
      align-items: center;
    }
  }
}

.project-item:hover {
  transform: scale(1.05);

}

.project-item.selected {
  width: 90%;

  .head {
    a {
      display: none;
    }
  }
}

/* tags */
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  p {
    padding: 5px;
    margin: 3px;
    font-size: 13px;
    border-radius: 3px;
    background-color: #e1ecf4;
    color: #39739d;
  }
}


.more-projects-button {
  color: #fff;
  cursor: pointer;
  display: block;
  background-color: #001f3f;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #001f3f;
  border-radius: 5px;
  margin: 20px auto;
  width: 9%;
  align-items: center;
}

.more-projects-button:hover {
  background-color: #fff;
  color: #001f3f;
  transition: 0.3s;
}


.projects-content a {
  display: inline-block;
  background-color: #001f3f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin: 10px 8px 0 0;
  transition: background-color 0.3s, color 0.3s;
}

.projects-content a:hover {
  background-color: #fff;
  color: #001f3f;
}


/* Media queries for responsiveness */
@media screen and (max-width:1230px) {
  .project-item .btn-box a {
    padding: 7px 15px;
  }
}

@media screen and (max-width:992px) {
  .project-item {
    .project-img {
      width: 70%;
      height: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .project-item {
    width: 100%;
  }

  .more-projects-button {
    width: 100%;
    width: 23%;
  }

  .projects-header {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    order: 1;
    margin-bottom: 20px;
  }

  .experience-title {
    order: 2;
  }
}

@media screen and (max-width: 576px) {
  .project-grid {
    gap: 10px;
  }

  .project-item {
    h3 {
      font-size: 1rem;
    }
  }
}