.certifications-container {
  margin-top: 50px;
  h1 {
    font-size: 28px;
  }
  text-align: center;
  .img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 50px;
  }
  img {
    width: 900px;
  }
}

.certification-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.certification-item {
  cursor: pointer;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  width: 200px;
  box-sizing: border-box;
}

.certification-item:hover {
  transform: scale(1.05);
  border-color: skyblue;
}

.certification-item.selected {
  background-color: #f0f0f0;
}

.certification-details {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

.certification-details p {
  margin: 0;
}
