/* Container Styles */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
}

/* Intro and Big Image Container */
.intro-big-image-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

/* Big Image Styles */
.big-image-container {
  flex-shrink: 0;
  width: 100%;
}

.big-image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 20px;
}

/* Social Links Styles */
.social-links {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.social-links a {
  margin-right: 15px;
  margin-bottom: 10px;
}

/* Star Button Styles */
.bigBtn a {
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001f3f;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 40%;
}

.bigBtn a:nth-child(2) {
  padding: 18px 10px;
}

.bigBtn a:hover {
  background-color: #19589c;
  color: #fff;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.star-symbol {
  font-size: 24px;
  color: yellow;
  padding-right: 3%;
}

.star-symbol:hover {
  color: red;
}

/* Social Links Styles */
.social-links {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 3px;
}

.social-links a {
  margin-right: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
  transform: scale(1.2);
}

.social-links a:last-child {
  margin-right: 0;
}

/* Name and Title Styles */
.name-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.web-developer-title {
  font-size: 18px;
  margin-top: -5px;
  color: rgb(69, 69, 69);
}

/* Move Animation Styles */

.move-animation {
  animation: moveAnimation 1s ease-out;
}

@keyframes moveAnimation {
  from {
    transform: translateX(-12%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Media Query for Tablet */
@media screen and (min-width: 600px) {
  .intro-big-image-container {
    flex-direction: row;
  }

  .big-image-container {
    width: 49%;
  }
}

/* Media Query for Desktop */
@media screen and (min-width: 1024px) {
  .social-links a {
    margin-right: 15px;
    margin-bottom: 0;
  }
}